<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header class="navbar">
  	<ul class="nav">
      <li><a href ="/">Survey</a></li>
      <li><a href ="/results">Results</a></li>
      <li><a href ="/about">About</a></li>
		</ul>
	</header>
  <div class="main short-body">
    <hr>
    <h1>Why we want your parental leave data:</h1>

    <h4>Why are we collecting this data?</h4>
    <p>To provide a transparent, open and anonymous baseline metric around parental leave policies.</p>    

    <h4>Why are we starting with the tech industry?</h4>
    <p>
      From Tracy Chou’s post on <a href="https://medium.com/@triketora/where-are-the-numbers-cb997a57252">gender diversity</a> in technical roles to the recent <a href="http://elephantinthevalley.com/">Elephant in the Valley</a> survey on “soft discrimination” and sexual harassment, we want to continue to highlight how companies can play a proactive role in promoting a culture of equality — for all genders.
    </p>
    <p>
      The tech industry leads across almost all other industries in terms of equal parental leave policies; it prides itself on being an industry that adapts, iterates and responds with new policies based on data, feedback and needs; and, it is already trying to improve its numbers around diversity and gender representation.
    </p>
    <p>
      This data will not tell the whole story, but it is a starting point to highlight one of the many factors influencing people’s ability to participate fully — entry-level to C-suite; tech and non-tech — in the workforce. Companies can play a pivotal role in breaking gender confines and redefining gender norms, and one way to alter this dynamic is by offering equal parental leave, regardless of gender norms, gender identity, leave status (birth or adoptive), or sex.
    </p>  

    <h4>Is the end-goal collecting data, or equal parental leave?</h4>
    <p>
      We want to start by collecting data on parental leave, with the intention / goal that companies and individuals will see the value in equal parental leave policies.
    </p>

    <h4>How will equal parental leave allow for greater equity?</h4>
    <p>
      How do companies and societies expect women to be on par with men in the workplace, when companies and societies burden women with a disproportionate amount of labor outside of the workplace?
    </p>
    <p>
      If we want a more equitable workplace, we must create an environment that fosters equality. This is partially driven by our corporate and federal policies — and we can change it.
    </p>

    <h4>Why is it important to have equal parental leave?</h4>
    <p>
      Unequal parental leave disproportionately affects women, creating a dynamic where the person with the longer parental leave (usually the female) will be more familiar with the new child’s habits, needs, expressions; thus, quickly becoming the “lead parent”. However, because women also do a disproportionate amount of household chores (according to the <a href="http://www.bls.gov/news.release/atus.t01.htm">Bureau of Labor Statistics</a>, women average 2:09 hours; men average 1.22 hours per day), women continue to be double-bound by dual duties.
    </p>
    <p>
      Social norms prevent men from becoming the lead parent, and men who are lead parents report feelings of <a href="http://www.theatlantic.com/magazine/archive/2015/10/why-i-put-my-wifes-career-first/403240/">isolations and exclusion</a> from “mommy groups” and other typically female gendered roles. Equal parental leave breaks social norms and gives men more permission to be the lead parent.
    </p>
    <p>
      We no longer operate in a world of “traditional” nuclear families, and unequal leave is based on an outdated system favoring gender “norms”, gender identity, sexual orientation and conception. According to the United States Census Bureau’s publication, <a href="https://www.census.gov/prod/2013pubs/p20-570.pdf">America’s Families and Living Arrangements: 2012</a>, the percentage of “married couples with children” and “other family households” was within two percentage points, or 19.6 and 17.8 respectively. Our current corporate policies do not reflect society’s actual data.
    </p>
    <p>
      The lack of affordable and convenient child care for families usually means the partner with the lower salary stays home — often the woman. In general, 43% of highly qualified women leave their careers or off-ramp for a period of time when they have children. Using <a href="http://pure.au.dk/portal/files/32354160/0003192.pdf">comparable data from Scandinavian countries</a>, longer-term paternal leave policies as well as the availability of convenient (and low / neutral cost) childcare increases the supply of women in the workforce.      
    </p>

    <h4>How does American society currently view parental leave in the workplace?</h4>
    <p>
      A McKinsey study from 2015 that surveyed 30,000 employees across 118 companies, <a href="http://womenintheworkplace.com/">Women in the Workforce: Employee Attitudes</a>, found that more than 90% of women and men believe taking extended family leave will negatively impact their position at work — and more than 50% believe it will hurt them a great deal. Equal parental leave provides an opportunity to alter the “work dynamic” between how women and men take parental leave, what is acceptable within the office, and how it compares across sexes.
    </p>

    <h4>Where does the United States rank globally in mandated family leave?</h4>
    <p>
      According to a 2014 review by the International Labor Organizations of parental leave policies in 185 countries, <a href="https://en.wikipedia.org/wiki/Parental_leave">all countries except two</a> - the United States and Papua New Guinea — have laws mandating paid parental leave. Out of 185 economically developed countries, the US ranks last.
    </p>

    <h4>What percentage of Americans have access to Paid Family Leave (PFL)?</h4>
    <p>
      Currently, only <a href="http://www.dol.gov/wb/PaidLeave/PaidLeave.htm">12% of Americans in the private sector</a> have access to Paid Family Leave through their employer (PFL = 12 weeks). Private sector leave policies help push federal and state paid family leave discussions. We hope to use this data to benchmark these discussions, or that others can use to influence corporate, state or federal policies.
    </p>

    <h4>Why are we not including broader information around Family Medical Leave Act (FMLA)?</h4>
    <p>
      FMLA is a 1993 federal law that requires employers to provide 12 weeks of job-protected unpaid leave for medical and family reasons. The law comes with restrictions: the employers must have more than 50 workers and the employee must work 1,250 hours in the previous 12 months. With these qualifications, only 45–60 percent of working women qualify. Although well-intended, the policy has serious flaws, many of which disproportionately impact low-income, African American, Native American and Latino/a communities, and disproportionately women (due to the disproportionate amount of unpaid labor women provide).
    </p>

    <h4>What made us want to do this?</h4>
    <p>
      Special thanks to Tracy Chou who started the conversation around diversity and women in tech in 2013. We want to continue to push this conversation and look at the tech industry’s internal policies that place unequal burdens on one group — women, men, LGBTQ, adoptive, birth — over another.
    </p>

    <h4>What will be included in the second round of this conversation?</h4>
    <p>We have many ideas but we want to hear from you. Please send us your thoughts!</p>

    <h4>How can we help?</h4>
    <p>
      Share this survey with others. 
    </p>
    <p>
      Advocate for equal parental leave policies inside your organization. Start a listserve or group to get people speaking, asking, understanding and sharing why this is important.
    </p>
    <p>
      Contact and partner with us (below)
    </p>

    <div class="margin-bottom-20">
      <h4>Have questions or ideas about our project? We would love to hear from you!</h4>
      <p>Melissa Sandgren mmsandgren@gmail.com</p>
      <p>Nicole Grinstead nicolegrinstead@yahoo-inc.com</p>
    </div>

  </div>
  <br/>
</body>
</html>